@import '../../../../node_modules/bootstrap/scss/mixins';
@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';

.available-roles-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.btn-grp {
  row-gap: 1rem;

  label {
    justify-content: center;
    display: flex;
    border-radius: 4px !important;

    @include media-breakpoint-up(sm) {
      max-width: 250px;
    }
  }
}

.data-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  @include media-breakpoint-down(sm) {
    margin-top: 1rem;
  }
}

.role-row {
  margin-top: 1rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important ;
  row-gap: 1rem;

  button {
    width: 100%;
  }
}

.line {
  margin-top: 1.5rem;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}
