@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

.invitation-container {
  padding-bottom: 3rem;
}
.invitation-header {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 2rem;

  row-gap: 1rem;
}

.invitation-card {
  padding-left: 0 !important;
  padding-right: 0 !important;

  div:has(svg) {
    align-self: center;
  }
}
.invitation-card-row {
  row-gap: 1rem;
}

.edit-btn {
  height: fit-content;
}

.message-row {
  justify-content: space-between;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
}
